@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientMovement {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer base {
  body {
    @apply font-body bg-gradient-to-r from-purple-700 to-purple-500 animate-gradientMovement;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }

  h1 {
    @apply font-black text-5xl;
  }

  h2 {
    @apply font-bold text-4xl;
  }

  h3 {
    @apply font-bold text-3xl;
  }

  h4 {
    @apply font-bold text-2xl;
  }

  h5 {
    @apply font-bold text-xl;
  }
}

@layer utilities {
  .backdrop-blur {
    backdrop-filter: blur(5px);
  }
}


@layer components {
  .animate-gradientMovement {
    animation: gradientMovement 10s linear infinite;
    background-size: 200% 100%;
  }
}


.projects li {
  transition: transform 0.3s ease-in-out;
}

.projects li:hover {
  transform: translateY(-0.5rem);
}

.projects li img {
  transition: transform 0.3s ease-in-out;
  

}

.projects li:hover img {
  transform: translateX(-4rem);
}

.active-link {
  border-radius: 2rem;
  padding: 0.3rem 0.8rem;
}

.projects .in-progress {
  width: calc(100);
  margin-bottom: 2rem; /* Optional: Adjust as needed */
  align-self: flex-start; /* Default alignment */
}

.projects .in-progress:nth-child(even) {
  align-self: flex-end;
  margin-top: 10rem;
}
.contact-container p {
  margin: 0;
}

.contact-link {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  background-color: #ffffff00;
}

.contact-link:hover::before {
  transform: scaleX(1);
}

.form-contact input::placeholder {
  color: #fff;
}


.form-contact textarea::placeholder {
  color: #fff;
}